altgraph
bcrypt
blinker
click
colorama
constants
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
flisk
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
pefile
pygame
pyinstaller
pyinstaller-hooks-contrib
PyQt5
PyQt5-Qt5
PyQt5-sip
pywin32-ctypes
SQLAlchemy
typing_extensions
Werkzeug
WTForms
gunicorn